version: '3'

services:
  frontend:
    image: "masterget-front:dev"
    container_name: "masterget-front-dev"
    build:
      context: .
      dockerfile: services/frontend/dev-Dockerfile-frontend
    volumes:
      - ./client/:/var/www/
    ports:
      - 9000:9000
    restart: always
    env_file:
      - variables.env

  backend:
    image: "masterget-back:dev"
    container_name: "masterget-back-dev"
    build:
      context: .
      dockerfile: services/backend/dev-Dockerfile-backend
    volumes:
      - ./server/:/var/www/
    ports:
      - 3000:3000
    restart: always
    depends_on:
      - db
    links:
      - db
    env_file:
      - variables.env

  db:
    build:
      context: services/mysql
      dockerfile: db-Dockerfile
      args:
        - DATABASE_USER=${DATABASE_USER}
        - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    restart: always
    ports:
      - 3306:3306
    env_file:
      - variables.env

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  # sheduled-tasks:
  #   image: "kudago-tasks"
  #   container_name: "kudago-tasks"
  #   build:
  #     context: services/cron/
  #     dockerfile: Dockerfile
  #   restart: always
  #   volumes:
  #     - ./server/:/sheduled-tasks/
  #   depends_on:
  #     - db
  #   links:
  #     - db
  #   env_file:
  #     - variables.env